<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link href="/css.css" rel="stylesheet">
  <title>Книги</title>
</head>
<body>
<h1>Список книг библиотеки</h1>
<ol>
  <li class="list__text" th:each="book : ${bookList}" th:text="${book.name}"></li>
</ol>
<nav class="nav">
  <a href="/ui/issuance">Таблица выдачи</a>
  <a href="/ui/book">Список книг</a>
  <a href="/ui/reader">Список читателей</a>
</nav>
</body>
</html>